<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <property name="contextName" value="testLog"/>
    <contextName>${contextName}</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{30}[%line]: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>./test.log</file>
        <encoder>
            <pattern>%d %-5level %logger{30}[%line]: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>10</maxHistory>
            <fileNamePattern>${contextName}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger{30}[%line]: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="per.demo" level="info" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <root level="error">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>